{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>Health Monitor</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{%static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{%static 'css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel = "stylesheet" href="{%static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

{% block content %}
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="#home"><img src="{%static 'images/logo.png' %}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link " href='http://127.0.0.1:8000'>Home</a></li>

						<li><a class="nav-link active" href="#healthcon">Health Conditions</a></li>

                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
health
{% endblock %}
</body>
</html>